@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}
.navFont{
  color: #BBBBBB;
}
.mainColor{
  color: #007c74;
}
.mainBackground{
  background-color: #24BDBD;
}
.CalistogaFont{
  font-family: "Calistoga", serif;;
}
.MainBorder{
  border-color: #24BDBD;
}
.ConstuctionButton{
  color: #24BDBD;
}
.heroSubTextBackground{
  background: #1D1C1C;
 
}
.heroSubTextDescription{
  color: #AFAEAE;
  font-family: 'Inter', sans-serif;
}
.rightWidth{
  right: 35rem;
}
.subHeroImageBorder{
  border-width: 1px;
  border-color: #7A7A7A;
}
.projectsSectionBackground{
  background-color: #1D1C1C;
}
.interFont{
  font-family: 'Inter', sans-serif;
}
.interestSectionBorder{
  border: 1px;
  border-color: #7A7A7AA6;
}
.SelectProjectBorder{
  border-width: 1px;
  border-color: #24BDBD;
}